<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucas.hyuntax.mapper.BoardMapper">
	<insert id="write" parameterType="Board">
		insert into board(boardSEQ,
		boardTitle, boardContent, boardID, boardDate) values(boardSEQ.nextval,
		#{boardTitle}, #{boardContent}, #{boardID}, SYSDATE)
	</insert>

	<select id="selectAll" resultType="Board">
		select boardSEQ, boardTitle,
		boardContent, boardID, boardDate from board order by boardDate DESC
	</select>

	<select id="selectOne" resultType="Board" parameterType="String">
		select
		boardSEQ, boardTitle,
		boardContent, boardID, boardDate from board where
		boardSEQ=#{boardSEQ}
	</select>

	<delete id="delete" parameterType="String">
		delete from board where
		boardSEQ=#{boardSEQ}
	</delete>

	<update id="update" parameterType="Board">
		update board set
		boardTitle=#{boardTitle}, boardContent=#{boardContent}
		where
		boardSEQ=#{boardSEQ}
	</update>

	<delete id="deleteAll" parameterType="String">
		delete board where
		boardID=#{boardID}
	</delete>

	<insert id="writeReply" parameterType="Reply">
		insert into
		reply(replySEQ, boardSEQ, replyID, replyContent, replyDate)
		values
		(replySEQ.NEXTVAL, #{boardSEQ}, #{replyID}, #{replyContent},
		SYSDATE)
	</insert>

	<select id="selectReply" parameterType="String"
		resultType="HashMap">
		select replySEQ, boardSEQ, replyID, replyContent,
		replyDate
		from reply where
		boardSEQ = #{boardSEQ}
		order by
		replyDate
		DESC
	</select>
</mapper>